@model Model.tb_orcamento
@{Layout = "~/Views/Shared/_Layout.cshtml";}


<div class="small-nav">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Propostas", "Listar", "Projeto")
            <span>&gt;</span>
            Cadastrar
        </a>
    </div>
</div>
<div class="form-horizontal col-md-12 " style="background-color:rgb(255, 255, 255)">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {

        using (Html.BeginForm())
        {
            <div class="form-horizontal col-md-12 ">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.id_usuario, "Registrado por")
                    </div>
                    <div class="col-md-3" style="width: 30%">
                        @Html.LabelFor(model => model.id_usuario, ((Model.tb_usuario)@ViewBag.id_usuario).nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="control-label col-md-2" style="width: 10%">
                        @Html.LabelFor(model => model.id_status, "Orçamento")
                    </div>
                    <div class="col-md-3" style="width: 10%">
                        @Html.LabelFor(model => model.id_status, ((Model.tb_status_orcamento)@ViewBag.id_status).descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_status, "", new { @class = "text-danger" })
                    </div>
                    <div class="control-label col-md-2" style="width: 20%">
                        @Html.LabelFor(model => model.tb_projeto.valor_estimado, "Valor Estimado")
                    </div>
                    <div class="col-md-3" style="width: 14%">
                        @Html.LabelFor(model => model.valor, "R$ " + ((Model.tb_projeto)@ViewBag.id_projeto).valor_estimado.ToString("0.00").ToUpper(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_status, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.id_projeto, "Projeto")
                    </div>
                    <div class="col-md-3" style="width: 30%">
                        @Html.LabelFor(model => model.id_projeto, ((Model.tb_projeto)@ViewBag.id_projeto).titulo.ToUpper(), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_projeto, "", new { @class = "text-danger" })
                    </div>

                    <div class="control-label col-md-2" style="width: 20%">
                        @Html.LabelFor(model => model.tb_projeto.id_campi, "Mantenedora/Campi")
                    </div>
                    <div class="col-md-3" style="width: 34%">
                        @Html.LabelFor(model => model.tb_projeto.id_campi, ((Model.tb_campi)@ViewBag.id_campi).nome_fantasia, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tb_projeto.id_campi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.id_empresa, "Fornecedor")
                    </div>
                    <div class="col-md-3" style="width: 30%">
                        @Html.DropDownList("id_empresa", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_empresa, "", new { @class = "text-danger" })
                    </div>

                    <div class="control-label col-md-2" style="width: 40%">
                        @Html.LabelFor(model => model.valor, "Valor Orçado")
                    </div>
                    <div class="col-md-3" style="width: 14%">

                        @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.valor, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.anotacao, "Observação")
                    </div>
                    <div class="col-md-3" style="width: 84%">
                        @Html.EditorFor(model => model.anotacao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.anotacao, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



            <div class="form-horizontal col-md-12">
                
                <div class="col-md-3" style="width: 15%"></div>
                <div class="col-md-3 col-lg-offset-10" style="padding:1px  ; width: 15%">
                    <input type="submit" value="Salvar" class="btn btn-block" name="bt_submit_1" style=" height:56px " />
                    
                </div>
                
            </div>

        }
        <div class="form-horizontal" style="padding-bottom:inherit">
            <div class=" form-horizontal col-md-12">
                <hr />
                <div class="form-horizontal col-md-3" style="width: 28%; background-color:rgba(251, 251, 251, 0.75)">

                    @{Html.RenderPartial("CreateServico");}

                </div>
                <div class="form-horizontal col-md-9" style="width: 72%; background-color:rgba(250, 247, 247, 0.75)">

                    @{Html.RenderPartial("CreateFatura");}

                </div>

            </div>
            <div class="form-horizontal col-md-12">
                <hr />
                <br><br><br><br>
            </div>

        </div>

    }
</div>