@model IEnumerable<Model.tb_orcamento>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_empresa.razao_social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_projeto.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_status_orcamento.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tb_usuario.nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anotacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_empresa.razao_social)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_projeto.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_status_orcamento.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tb_usuario.nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
