@model List<Model.tb_fatura>

<div class="col-md-3" style="width: 2%"></div>
<div class="col-md-3" style="width: 96%">
    <div class="box-head">
        <h2 class="left">Faturas Cadastradas</h2>
    </div>
    <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>

                <th>
                    Título
                </th>

                <th>
                    Banco
                </th>
                <th>
                    Pagamento
                </th>

                <th>
                    Valor
                </th>
                <th>
                    Vencimento
                </th>
                <th class="ac">Remover</th>
            </tr>
            @for (int i = 0; i < ( (List<Model.tb_fatura>)@ViewBag.tb_fatura).Count;i++ )
            
            {
                var item =  ((List<Model.tb_fatura>)@ViewBag.tb_fatura)[i];
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>                   
                    <td>
                        @Html.DisplayFor(modelItem => item.banco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_forma_pagamento.descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor_inicial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.data_prevista)
                    </td>
                    <td>
                        @if (User.IsInRole("Infra") || User.IsInRole("DIRETOR-INFRA"))
                        {
                            <a href="#" class="ico del">
                        @Ajax.ActionLink("Excluir", "RemoverFatura", "Orcamento"
                        , new { id = i }, new AjaxOptions() { UpdateTargetId = "foda2", InsertionMode = InsertionMode.Replace }) </a>
                            ;
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>