@model Model.tb_mantenedora
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="small-nav">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Mantenedoras", "Index")
            <span>&gt;</span>
            Cadastrar
        </a>
    </div>
</div>
<div class="msg msg-ok">
    <p><strong>Você está criando uma Mantenedora!</strong></p>
</div>
<hr />
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {   
        <div class="form-horizontal col-md-12 ">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.num_inscricao, "Nr. Inscrição")
                </div>
                <div class="col-md-3" style="width: 20%">
                    @Html.EditorFor(model => model.num_inscricao, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.num_inscricao, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.inscricao_estadual, "Nr. Estadual")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.inscricao_estadual, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.inscricao_estadual, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.inscricao_municipal, "Nr. Municipal")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.inscricao_municipal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.inscricao_municipal, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.cnpj, "Cnpj")
                </div>
                <div class="col-md-3" style="width: 20%">
                    @Html.EditorFor(model => model.cnpj, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cnpj, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.razao_social, "Razão Social")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.razao_social, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.razao_social, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.nome_fantasia, "Fantasia")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.nome_fantasia, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nome_fantasia, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.atividade_principal, "1ª Atividade")
                </div>
                <div class="col-md-3" style="width: 43%">
                    @Html.EditorFor(model => model.atividade_principal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.atividade_principal, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 11%">
                    @Html.LabelFor(model => model.atividade_secundaria, "2ª Atividade")
                </div>
                <div class="col-md-3" style="width: 36%">
                    @Html.EditorFor(model => model.atividade_secundaria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.atividade_secundaria, "", new { @class = "text-danger" })
                </div>
            </div>
            <hr />
            <p class="text-info"><h4>Endereço</h4></p>

            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.tb_endereco.logradouro, "Logradouro")
                </div>
                <div class="col-md-3" style="width: 43%">
                    @Html.EditorFor(model => model.tb_endereco.logradouro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.logradouro, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 5%">
                    @Html.LabelFor(model => model.tb_endereco.numero, "Nro")
                </div>
                <div class="col-md-3" style="width: 7%">
                    @Html.EditorFor(model => model.tb_endereco.numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.numero, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.tb_endereco.complemento, "Complemento")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.tb_endereco.complemento, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.complemento, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.tb_endereco.municipio, "Município")
                </div>
                <div class="col-md-3" style="width: 20%">
                    @Html.EditorFor(model => model.tb_endereco.municipio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.municipio, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 6%">
                    @Html.LabelFor(model => model.tb_endereco.bairro, "Bairro")
                </div>
                <div class="col-md-3" style="width: 17%">
                    @Html.EditorFor(model => model.tb_endereco.bairro, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.bairro, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 5%">
                    @Html.LabelFor(model => model.tb_endereco.uf, "UF")
                </div>
                <div class="col-md-3" style="width: 7%">
                    @Html.EditorFor(model => model.tb_endereco.uf, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.uf, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.tb_endereco.cep, "CEP")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.tb_endereco.cep, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_endereco.cep, "", new { @class = "text-danger" })
                </div>

            </div>
            <hr />
            <p class="text-info"><h4>Contato</h4></p>
            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.tb_contato.email, "Email")
                </div>
                <div class="col-md-3" style="width: 43%">
                    @Html.EditorFor(model => model.tb_contato.email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_contato.email, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 5%">
                    @Html.LabelFor(model => model.tb_contato.site, "Site")
                </div>
                <div class="col-md-3" style="width: 42%">
                    @Html.EditorFor(model => model.tb_contato.site, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_contato.site, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2" style="width: 10%">
                    @Html.LabelFor(model => model.tb_contato.telefone, "Telefone")
                </div>
                <div class="col-md-3" style="width: 20%">
                    @Html.EditorFor(model => model.tb_contato.telefone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_contato.telefone, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 6%">
                    @Html.LabelFor(model => model.tb_contato.celular, "Celular")
                </div>
                <div class="col-md-3" style="width: 17%">
                    @Html.EditorFor(model => model.tb_contato.celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_contato.celular, "", new { @class = "text-danger" })
                </div>
                <div class="control-label col-md-2" style="width: 22%">
                    @Html.LabelFor(model => model.tb_contato.fax, "Fax")
                </div>
                <div class="col-md-3" style="width: 25%">
                    @Html.EditorFor(model => model.tb_contato.fax, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tb_contato.fax, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3" style="width: 10%"></div>
                <div class="col-md-3" style="width: 90%">
                    <input type="submit" value="Confirmar" class="btn btn-success" style="margin-bottom:100px; width: 100%">" />
                </div>
            </div>
        </div>
    
    }
}