@model Model.tb_projeto
@{Layout = "~/Views/Shared/_Layout.cshtml";}
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.9.1.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.maskMoney.js")"></script>
<div class="small-nav">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Propostas", "Listar", "Projeto")
            <span>&gt;</span>
            Cadastrar
        </a>
    </div>
</div>
<div class="form-horizontal col-md-12"  style=" background-color:rgb(255, 255, 255)">
    <div class="msg msg-ok">
        <p><strong>Você está criando uma Proposta de Projeto!</strong></p>
    </div>
    <hr />
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm())
        {
            Html.ValidationSummary(true, "", new { @class = "text-danger" });
            Html.AntiForgeryToken();
            <div class="form-horizontal col-md-12 ">
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.id_usuario, "Responsável")
                    </div>
                    <div class="col-md-3" style="width: 55%">
                        @Html.LabelFor(model => model.id_usuario, ((Model.tb_usuario)@ViewBag.id_usuario).nome, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
                    </div>
                    <div class="control-label col-md-2" style="width: 10%">
                        @Html.LabelFor(model => model.id_status, "Situação")
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        @Html.LabelFor(model => model.id_status, ((Model.tb_status_projeto)@ViewBag.id_status).descricao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.id_campi, "Mantenedora-Campi")
                    </div>
                    <div class="col-md-3" style="width: 55%">
                        @Html.DropDownList("id_campi", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_campi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.titulo, "Nome do Projeto")
                    </div>
                    <div class="col-md-3" style="width: 50%">
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" , @maxlength = 100,required="required"} })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.valor_estimado, "Valor Estimado")
                    </div>
                    <div class="col-md-3" style="width: 20%" >
                        
                        
                        @Html.EditorFor(model => model.valor_estimado, new { htmlAttributes = new { @class = "form-control", @id = "valor_estimado",required="required" } })
                        <script type="text/javascript">$("#valor_estimado").maskMoney();</script>
                        @Html.ValidationMessageFor(model => model.valor_estimado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.anotacao, "Observação")
                    </div>
                    <div class="col-md-3" style="width: 85%">
                        @Html.EditorFor(model => model.anotacao, new { htmlAttributes = new { @class = "form-control", @maxlength = 1000 } })
                        @Html.ValidationMessageFor(model => model.anotacao, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3" style="width: 15%"></div>
                    <div class="col-md-3 col-lg-offset-9" style="padding:1px ">
                        <input type="submit" value="Salvar Esta Proposta" class="btn btn-block" id="projeto" name="projeto" />
                    </div>
                </div>
            </div>
        }
        <div class="form-horizontal col-md-12 ">

            <div class="form-group">
                <hr />
                <div class="form-horizontal col-md-3" style="width: 100%; background-color:rgba(251, 251, 251, 0.75)">
                    @{Html.RenderPartial("CreateAnexo");}
                </div>
            </div>
            <div class="form-group">
                .
            </div>
        </div>
    }
</div>