@model Model.tb_projeto
@{Layout = "~/Views/Shared/_Layout.cshtml";}


<div class="navbar">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Projetos", "Projetos", "Projeto")
            <span>&gt;</span>
            Listas de Orçamentos do projeto
        </a>
    </div>
</div>
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="form-horizontal col-md-12">
        <div class="form-group" id="foda2">
            @foreach (var item in Model.tb_orcamento)
            {
                <div class="table">
                    <div class="box">
                        <div class="box-head">
                            <h2 class="left">
                                @Html.Label(item.tb_empresa.nome_fantasia.ToUpper())
                            </h2>
                            <h2 class="right">
                                @Html.Label("VALOR ORÇADO  - R$ " + item.valor.ToString("0.00"))
                            </h2>
                        </div>
                        <div class="box-content" style="background-color:orange">
                            <div class="table">
                                <h2 class="left">
                                    @Html.Label("Anotação => " + item.anotacao.ToUpper())
                                </h2>
                            </div>
                        </div>
                        <div class="box-content" style="background-color:white">
                            <div class="table">
                                <div class="box-head" style="background-color:orangered">
                                    <h2 class="left">Itens Anexados</h2>
                                </div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th>
                                            Título
                                        </th>
                                        <th>
                                            Anotação
                                        </th>
                                        <th>
                                            Criado em
                                        </th>
                                        <th>
                                            Baixar
                                        </th>
                                    </tr>
                                    @foreach (var itemA in item.tb_anexo)
                                    {
                                        <tr>
                                            <td>
                                                <img width="64" height="64" src="~/Content/pic/@( itemA.tipo + " .png")" alt="carregando" onerror="this.onerror=null;this.src = '~/Content/pic/default.png';" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => itemA.titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => itemA.data_cadastro)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Download", "Download", new { id = itemA.id })
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <hr />
                        <div class="box-content" style="background-color:white">
                            <div class="table">
                                <div class="box-head" style="background-color:orangered">
                                    <h2 class="left">
                                        FATURAS
                                    </h2>
                                </div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th>
                                            Título
                                        </th>

                                        <th>
                                            Banco
                                        </th>
                                        <th>
                                            Pagamento
                                        </th>
                                        <th>
                                            Valor Inicial
                                        </th>
                                        <th>
                                            Valor Pendente
                                        </th>
                                        <th>
                                            Vencimento
                                        </th>
                                        <th>
                                            Ação
                                        </th>
                                        <th>
                                            Anexos
                                        </th>

                                    </tr>
                                    @foreach (var fat in item.tb_fatura.Where(f => !f.is_aditivo))
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => fat.titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => fat.banco)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => fat.tb_forma_pagamento.descricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => fat.valor_inicial)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => fat.valor_pendente)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => fat.data_prevista)
                                            </td>
                                            <td>
                                                @if (User.IsInRole("Infra") && !fat.autorizado)
                                                {
                                                    <a href="#" class="ico del">@Html.ActionLink("Material", "Material", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                    <a href="#" class="ico del">@Html.ActionLink("Autorizar", "Autorizar", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                }
                                                else if (User.IsInRole("Financeiro") && fat.autorizado)
                                                {
                                                    <a href="#" class="ico del">@Html.ActionLink("Baixa Financeira", "Baixa", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                }
                                            </td>
                                            <td>
                                                @foreach (Model.tb_anexo anexo in fat.tb_anexo)
                                                {
                                                    @Html.ActionLink((anexo.nome_arquivo.Count() > 14 ? anexo.nome_arquivo.Substring(0, 14) : anexo.nome_arquivo).ToUpper(), "Download", new { id = anexo.id })

                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>

                        <div class="box-content" style="background-color:white">
                            @using (Html.BeginForm())
                            {
                                Html.AntiForgeryToken();
                                <div class="table" style="background-color:white">
                                    <div class="form-actions no-color">
                                        <input name="orcamento" type="hidden" value=@item.id>
                                        <input type="submit" name="aditivo" value="Adicionar Aditivo"
                                               class="btn btn-default" style="background-color:rgb(76, 255, 0)" />
                                    </div>
                                </div>
                            }
                        </div>

                        <div class="box-content" style="background-color:white">
                            <div class="box-head" style="background-color:orangered">
                                <h2 class="left">Aditivos</h2>
                            </div>
                            <div class="box-content" style="background-color:white">
                                @foreach (var fat in item.tb_fatura.Where(f => f.is_aditivo))
                                {
                                    <div class="table">
                                        <div class="box-head" style="background-color:black">
                                            <h2 class="left">@fat.titulo</h2>
                                        </div>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                            <tr>
                                                <th>
                                                    Valor Inicial:
                                                </th>
                                                <th>
                                                    Valor Pendente:
                                                </th>
                                                <th>
                                                    Vencimento:
                                                </th>
                                                <th>
                                                    Ação
                                                </th>
                                                <th>
                                                    Anexos:
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.valor_inicial)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.valor_pendente)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.data_prevista)

                                                </td>
                                                <td>
                                                    @if (User.IsInRole("Infra") && !fat.autorizado)
                                                    {
                                                    <a href="#" class="ico del">@Html.ActionLink("Material", "Material", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                    <a href="#" class="ico del">@Html.ActionLink("Autorizar", "Autorizar", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                    }

                                                    else if (User.IsInRole("Financeiro") && fat.autorizado)
                                                    {
                                                    <a href="#" class="ico del">@Html.ActionLink("Baixa Financeira", "Baixa", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                    }
                                                </td>
                                                <td>
                                                    @foreach (Model.tb_anexo anexo in fat.tb_anexo)
                                                    {
                                                    <br>
                                                    @Html.ActionLink((anexo.nome_arquivo.Count() > 14 ? anexo.nome_arquivo.Substring(0, 14) : anexo.nome_arquivo).ToUpper(), "Download", new { id = anexo.id })
                                                    }
                                                </td>
                                            </tr>

                                            <tr>
                                               
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                    <div class="box-head" style="background-color:black">
                                                        <h2 class="left">Materiais Dessa fatura</h2>
                                                    </div>
                                                       
                                                     </tr>
                                                    <tr>
                                                        <th>
                                                            Anotação
                                                        </th>
                                                        <th>
                                                            Valor
                                                        </th>
                                                        <th>
                                                            Anexos
                                                        </th>
                                                    </tr>
                                                    @foreach (var material in fat.tb_compra)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => material.anotacao)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => material.valor)
                                                            </td>
                                                            <td>
                                                                ANEXOS

                                                            </td>
                                                        </tr>
                                                    }
                                                </table>
                                            </tr>

                                        </table>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="box-content" style="background-color:white">
                            <div class="table">
                                <div class="box-head" style="background-color:orangered">
                                    <h2 class="left">
                                        SERVIÇOS
                                    </h2>
                                </div>
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th>
                                            Serviço
                                        </th>
                                        <th>
                                            Valor
                                        </th>
                                        <th>
                                            Anotação
                                        </th>
                                    </tr>
                                    @foreach (var serv in item.tb_orcamento_servico)
                                    {
                                        <tr>

                                            @Html.HiddenFor(modelItem => serv.id_servico)
                                            @Html.HiddenFor(modelItem => serv.tb_servico.id)
                                            <td>
                                                @Html.DisplayFor(modelItem => serv.tb_servico.titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => serv.valor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => serv.anotacao)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-horizontal col-md-12">.</div>
}
