@model Model.tb_projeto

@{Layout = "~/Views/Shared/_Layout.cshtml";}


<div class="navbar">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Projetos", "Projetos", "Projeto")
            <span>&gt;</span>
            Listas de Orçamentos do projeto
        </a>
    </div>
</div>
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <div class="form-horizontal col-md-12">
        <div class="form-group" id="foda2">
            @foreach (var item in Model.tb_orcamento)
            {
                <div class="table">
                    <div class="box" style="background-color:transparent">
                        <div class="box-head">
                            <h2 class="left">
                                @Html.Label(item.tb_empresa.nome_fantasia.ToUpper())
                            </h2>
                            <h2 class="right">
                                @Html.Label("VALOR ORÇADO  - R$ " + item.valor.ToString("0.00"))
                            </h2>
                        </div>
                        <div class="box-content" style="background-color:white">
                            <div class="table">
                                <h2 class="left">
                                    @Html.Label("Anotação => " + item.anotacao.ToUpper())
                                </h2>
                            </div>
                        </div>
                        <div class="box" style="background-color:white">
                            <div class="box-head" style="background-color:black">
                                <h2 class="left">Itens Anexados</h2>
                            </div>
                            <div class="table">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th>
                                            Título
                                        </th>
                                        <th>
                                            Anotação
                                        </th>
                                        <th>
                                            Criado em
                                        </th>
                                        <th>
                                            Baixar
                                        </th>
                                    </tr>
                                    @foreach (var itemA in item.tb_anexo)
                                    {
                                        <tr>
                                            <td>
                                                <img width="64" height="64" src="~/Content/pic/@( itemA.tipo + " .png")" alt="carregando" onerror="this.onerror=null;this.src = '~/Content/pic/default.png';" />
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => itemA.titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => itemA.data_cadastro)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Download", "Download", new { id = itemA.id })
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="box" style="background-color:white">
                            <div class="box-head" style="background-color:black">
                                <h2 class="left">
                                    Faturas
                                </h2>
                            </div>
                            <div class="box-content" style="background-color:white">
                                @foreach (var fat in item.tb_fatura.Where(f => !f.is_aditivo))
                                {
                                    <div class="box">
                                        <div class=" box-head" style="background-color:darkblue">
                                            <h2 class="left">Descricao da Fatura - @fat.titulo</h2>
                                        </div>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                            <tr>
                                                <th>
                                                    Valor Inicial:
                                                </th>
                                                <th>
                                                    Valor Pendente:
                                                </th>
                                                <th>
                                                    Vencimento:
                                                </th>
                                                @if (!fat.encerrado)
                                                {
                                                    if ((User.IsInRole("Infra") && !fat.autorizado) || (User.IsInRole("Financeiro") && fat.autorizado))
                                                    {
                                                        <th>
                                                            Ação
                                                        </th>
                                                    }
                                                }
                                                <th>
                                                    Anexos:
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.valor_inicial)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.valor_pendente)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.data_prevista)

                                                </td>




                                                @if (!fat.encerrado)
                                                {
                                                    if ((User.IsInRole("INFRA") || User.IsInRole("DIRETOR-INFRA")) && !fat.autorizado)
                                                    {
                                                        <td>

                                                            <a href="#" class="ico del">@Html.ActionLink("Material", "Material", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                        </td>
                                                    }
                                                    if (User.IsInRole("DIRETOR-INFRA") && !fat.autorizado)
                                                    {
                                                        <td>
                                                            <a href="#" class="ico del">@Html.ActionLink("Autorizar", "Autorizar", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                        </td>
                                                    }




                                                    else if (User.IsInRole("Financeiro") && fat.autorizado)
                                                    {
                                                        <td>

                                                            <a href="#" class="ico del">@Html.ActionLink("Baixa Financeira", "Baixa", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                        </td>
                                                    }

                                                }
                                                <td>
                                                    @foreach (Model.tb_anexo anexo in fat.tb_anexo)
                                                    {

                                                        @Html.ActionLink((anexo.nome_arquivo.Count() > 14 ? anexo.nome_arquivo.Substring(0, 14) : anexo.nome_arquivo).ToUpper(), "Download", new { id = anexo.id })
                                                        <br>
                                                    }
                                                </td>
                                            </tr>

                                        </table>
                                        <div class="table" style="background-color:white ; width:50%">
                                            <div class="box-head">
                                                <h2 class="left" width="50%">Materiais Dessa fatura</h2>
                                            </div>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                @foreach (var material in fat.tb_compra)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => material.anotacao)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => material.valor)
                                                        </td>
                                                        <td>
                                                            ANEXOS
                                                        </td>

                                                        
                                                        @if (User.IsInRole("DIRETOR-INFRA") )
                                                        {
                                                            <td>
                                                                Ações:
                                                                <a href="#" class="ico del">@Html.ActionLink("Autorizar", "Autorizar", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                            </td>
                                                        }



                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="box" style="background-color:white">
                            <div class="box-head" style="background-color:black">
                                <h2 class="left">Aditivos</h2>
                            </div>
                            <div class="box-content" style="background-color:whitesmoke">
                                @using (Html.BeginForm())
                                {
                                    Html.AntiForgeryToken();
                                    if (User.IsInRole("INFRA") || User.IsInRole("DIRETOR-INFRA"))
                                    {
                                        <div class="table" style="background-color:transparent">
                                            <div class="form-actions no-color">
                                                <input name="orcamento" type="hidden" value=@item.id>
                                                <input type="submit" name="aditivo" value="Adicionar Aditivo"
                                                       class="btn btn-default" style="background-color:darkblue; color:white" />
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <div class="box-content" style="background-color:white">
                                @foreach (var fat in item.tb_fatura.Where(f => f.is_aditivo))
                                {
                                    <div class="box">
                                        <div class=" box-head" style="background-color:darkblue">
                                            <h2 class="left">Descricao do Aditivo - @fat.titulo</h2>
                                        </div>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                            <tr>
                                                <th>
                                                    Valor Inicial:
                                                </th>
                                                <th>
                                                    Valor Pendente:
                                                </th>
                                                <th>
                                                    Vencimento:
                                                </th>
                                                @if (!fat.encerrado)
                                                {
                                                    if ((User.IsInRole("Infra") && !fat.autorizado) || (User.IsInRole("Financeiro") && fat.autorizado))
                                                    {
                                                        <th>
                                                            Ação
                                                        </th>
                                                    }
                                                }
                                                <th>
                                                    Anexos:
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.valor_inicial)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.valor_pendente)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => fat.data_prevista)


                                                </td>

                                                @if (!fat.encerrado)
                                                {
                                                    if ((User.IsInRole("INFRA") || User.IsInRole("DIRETOR-INFRA")) && !fat.autorizado)
                                                    {
                                                        <td>

                                                            <a href="#" class="ico del">@Html.ActionLink("Material", "Material", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                        </td>
                                                    }
                                                    if (User.IsInRole("DIRETOR-INFRA") && !fat.autorizado)
                                                    {
                                                        <td>
                                                            <a href="#" class="ico del">@Html.ActionLink("Autorizar", "Autorizar", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                        </td>
                                                    }


                                                    else if (User.IsInRole("Financeiro") && fat.autorizado)
                                                    {
                                                        <td>
                                                            <a href="#" class="ico del">@Html.ActionLink("Baixa Financeira", "Baixa", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                        </td>
                                                    }


                                                }
                                                <td>
                                                    @foreach (Model.tb_anexo anexo in fat.tb_anexo)
                                                    {

                                                        @Html.ActionLink((anexo.nome_arquivo.Count() > 14 ? anexo.nome_arquivo.Substring(0, 14) : anexo.nome_arquivo).ToUpper(), "Download", new { id = anexo.id })
                                                        <br>
                                                    }
                                                </td>
                                            </tr>

                                        </table>
                                        <div class="table" style="background-color:white ; width:50%">
                                            <div class="box-head">
                                                <h2 class="left" width="50%">Materiais Dessa fatura</h2>
                                            </div>
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                @foreach (var material in fat.tb_compra)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => material.anotacao)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => material.valor)
                                                        </td>
                                                        <td>
                                                            ANEXOS
                                                        </td>
                                                        
                                                        @if (User.IsInRole("DIRETOR-INFRA"))
                                                        {
                                                            <td>
                                                                Ações:
                                                                <a href="#" class="ico del">@Html.ActionLink("Autorizar", "Autorizar", "Projeto", new { id_fatura = fat.id }, null)</a>
                                                            </td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="box" style="background-color:white">
                            <div class="box-head" style="background-color:black">
                                <h2 class="left">
                                    Serviços
                                </h2>
                            </div>
                            <div class="table">

                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <th>
                                            Serviço
                                        </th>
                                        <th>
                                            Valor
                                        </th>
                                        <th>
                                            Anotação
                                        </th>
                                    </tr>
                                    @foreach (var serv in item.tb_orcamento_servico)
                                    {
                                        <tr>

                                            @Html.HiddenFor(modelItem => serv.id_servico)
                                            @Html.HiddenFor(modelItem => serv.tb_servico.id)
                                            <td>
                                                @Html.DisplayFor(modelItem => serv.tb_servico.titulo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => serv.valor)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => serv.anotacao)
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-horizontal col-md-12">.</div>
}
