@model Model.tb_projeto
@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div class="small-nav">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Propostas", "Listar", "Projeto")
            <span>&gt;</span>
            Modificar
        </a>
    </div>
</div>
<div class="msg msg-ok">
    <p><strong>Voçê realmente deseja modificar esta Proposta?</strong></p>
</div>
<div class="msg msg-error">
    <p><strong>Os Anexos desta Proposta podem ser encontrados nos detalhes da proposta!</strong></p>
</div>
<hr />
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {        
        Html.AntiForgeryToken();
        <div class="form-horizontal col-md-12 ">
            <div class="form-horizontal">
                
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)
                @Html.HiddenFor(model => model.id_usuario)
                @Html.HiddenFor(model => model.id_status)
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.id_campi, "Mantenedora-Campi")
                    </div>
                    <div class="col-md-3" style="width: 45%">
                        @Html.DropDownList("id_campi", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.id_campi, "", new { @class = "text-danger" })
                    </div>

                    <div class="control-label col-md-2" style="width: 20%">
                        @Html.LabelFor(model => model.valor_estimado, "Valor Estimado")
                    </div>
                    <div class="col-md-3" style="width: 20%">
                        @Html.EditorFor(model => model.valor_estimado,"" , new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.valor_estimado, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.titulo, "Nome do Projeto")
                    </div>
                    <div class="col-md-3" style="width: 85%">
                        @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 15%">
                        @Html.LabelFor(model => model.anotacao, "Observação")
                    </div>
                    <div class="col-md-3" style="width: 85%">
                        @Html.TextAreaFor(model => model.anotacao, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.anotacao, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2" style="width: 40%">
                    </div>
                    <div class="col-md-3" style="width: 30%">
                        <div class="col-md-offset-2 col-md-10">
                            <input name="sem_anexo" type="submit" value="Somente Alterar" class="btn btn-block" />
                        </div>
                    </div>
                    <div class="col-md-3" style="width: 30%">
                        <div class="col-md-offset-2 col-md-10">
                            <input name="com_anexo" type="submit" value="Alterar e Anexar Arquivos" class="btn btn-block" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="form-horizontal col-md-12">
        <div class="form-group" id="foda2">
            <div class="col-md-3" style="width: 100%">
                <div class="box-head">
                    <h2 class="left">Itens Anexados</h2>
                </div>
                <div class="table">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>
                                Título
                            </th>
                            <th>
                                Anotação
                            </th>
                            <th>
                                Criado em
                            </th>
                            <th>
                                Baixar
                            </th>
                        </tr>
                        @foreach (var itemA in Model.tb_anexo)
                        {
                            <tr>
                                <td>
                                    <img width="64" height="64" src="~/Content/pic/@( itemA.tipo + ".png")" alt="carregando" onerror="this.onerror=null;this.src = '~/Content/pic/default.png';" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemA.titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => itemA.data_cadastro)
                                </td>
                                <td>
                                    <a href="#" class="ico del">
                                        @Ajax.ActionLink("Excluir", "RemoverAnexoProjeto", "Projeto"
                        , new { id = itemA.id ,  id_projeto = Model.id }, new AjaxOptions() { UpdateTargetId = "foda2", InsertionMode = InsertionMode.Replace })
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="form-horizontal col-md-12">

                <hr />
                <br><br><br><br>
            </div>
        </div>
    </div>
    }
}
