@model List<Web_Ages.Models.ViewModel>
<script>
    $(document).ready(function () {
        $(".backup_picture").error(function () {
            $(this).attr('src', '~/Content/pic/default.png');
        });
    });
</script>
<div class="col-md-3" style="width: 2%"></div>
<div class="col-md-3" style="width: 96%">
    <div class="box-head">
        <h2 class="left">Itens Anexados</h2>
    </div>
    <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th>

                </th>
                <th>
                    Título
                </th>
                <th>
                    Anotação
                </th>
                <th>
                    Criado em
                </th>

                @if (((List<Web_Ages.Models.ViewModel>)@ViewBag.tb_anexo).Count > 0)
                {
                    if (((List<Web_Ages.Models.ViewModel>)@ViewBag.tb_anexo)[0].id != 0)
                    {
                        <th>
                            Download
                        </th>
                    }
                    else
                    {
                        <th>
                            Remover
                        </th>
                    }
                }
            </tr>
            @for (int i = 0; i < ((List<Web_Ages.Models.ViewModel>)@ViewBag.tb_anexo).Count; i++)
            {
                var item = ((List<Web_Ages.Models.ViewModel>)@ViewBag.tb_anexo)[i];
                <tr>
                    <td>
                        <img width="64" height="64" src="~/Content/pic/@( item.tb_anexo.tipo + ".png")" alt="carregando" onerror="this.onerror=null;this.src = '~/Content/pic/default.png';" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_anexo.nome_arquivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_anexo.anotacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tb_anexo.data_cadastro)
                    </td>
                    @if (item.tb_anexo.id != 0)
                    {
                        <td>
                            <p>  @Html.ActionLink("Download", "Download", new { id = item.tb_anexo.id })</p>
                        </td>
                    }
                    else
                    {
                        <td>
                            <a href="#" class="ico del">
                                @Ajax.ActionLink("Excluir", "Remover", "Projeto"
                        , new { id = i }, new AjaxOptions() { UpdateTargetId = "foda2", InsertionMode = InsertionMode.Replace })
                            </a>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
