@model IEnumerable<Model.tb_projeto>

@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="small-nav">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            Listas de Propostas
        </a>
    </div>
</div>
@if (User.IsInRole("Diretor"))
{
    <div class="box-content">
        <a>
            <span>
                @Html.ActionLink("Cadastrar Nova Proposta", "Create", "Projeto", new { @class = "button" })
            </span>
        </a>
        <div class="cl">&nbsp;</div>
    </div>
}

<div id="container">
    <div class="shell">
        <!-- Main -->
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <div id="main">

                <div id="content">
                    <!-- Box -->
                    @if (Model.Any())
                    {
                        <div class="msg msg-ok">
                            <p><strong>Propostas Abertas só podem ser modificadas pela Direção!</strong></p>
                        </div>
                        <div class="box">
                            <div class="box-head">
                                <h2 class="left">Propostas Abertas</h2>
                                
                            </div>
                            <div class="table">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>

                                        <th>
                                            Titulo do Projeto
                                        </th>
                                        <th>
                                            Observação
                                        </th>
                                        <th>
                                            Valor Estimado
                                        </th>
                                        <th>
                                            Mantenedora
                                        </th>
                                        <th>
                                            Campi
                                        </th>
                                        <th>
                                            Situação
                                        </th>
                                        <th>
                                            Criado por
                                        </th>
                                        <th class="ac">Ações Disponiveis</th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td><h3><a href="#">@Html.DisplayFor(modelItem => item.titulo)</a></h3></td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.anotacao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.valor_estimado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_campi.tb_mantenedora.nome_fantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_campi.nome_fantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_status_projeto.descricao)
                                            </td>
                                            <td><a href="#">@Html.DisplayFor(modelItem => item.tb_usuario.nome)</a></td>
                                            <td>
                                                @if (User.IsInRole("Diretor"))
                                                {
                                                    <a href="#" class="ico del">@Html.ActionLink("Excluir", "Delete", new { id = item.id })</a>
                                                    <a href="#" class="ico edit">@Html.ActionLink("Editar", "Edit", new { id = item.id })</a>
                                                } @if (User.IsInRole("Diretor"))
                                                {
                                                    <a href="#" class="ico edit">@Html.ActionLink("Detalhes", "DetailsSomenteVisualizar", new { id = item.id })</a>
                                                }@if (User.IsInRole("INFRA"))
                                                {   
                                                     <a href="#" class="ico edit">@Html.ActionLink("Detalhes", "Details", new { id = item.id })</a>
                                                
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="msg msg-ok">
                            <p><strong>Não Existe Propostas Abertas Cadastradas!</strong></p>
                        </div>

                    }

                    @if (((List<Model.tb_projeto>)ViewBag.Analise).Count > 0)
                    {
                        <div class="msg msg-error">

                            <p><strong>As propostas em Analise estão aguardando a aprovação dos Orçamentos!</strong></p>

                        </div>
                        <div class="box">
                            <div class="box-head">
                                <h2 class="left">Propostas com Orçamentos em Análise para Aprovação e Definição</h2>
                              
                            </div>
                            <div class="table">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>

                                        <th>
                                            Titulo do Projeto
                                        </th>
                                        <th>
                                            Observação
                                        </th>
                                        <th>
                                            Valor Estimado
                                        </th>
                                        <th>
                                            Mantenedora
                                        </th>
                                        <th>
                                            Campi
                                        </th>
                                        <th>
                                            Situação
                                        </th>
                                        <th>
                                            Criado por
                                        </th>
                                        <th class="ac">Ações Disponiveis</th>
                                    </tr>

                                    @foreach (var item in (List<Model.tb_projeto>)ViewBag.Analise)
                                    {
                                        <tr>

                                            <td><h3><a href="#">@Html.DisplayFor(modelItem => item.titulo)</a></h3></td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.anotacao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.valor_estimado)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_campi.tb_mantenedora.nome_fantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_campi.nome_fantasia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.tb_status_projeto.descricao)
                                            </td>
                                            <td><a href="#">@Html.DisplayFor(modelItem => item.tb_usuario.nome)</a></td>
                                            <td>
                                                <a href="#" class="ico edit">@Html.ActionLink("Detalhes", "Details", new { id = item.id })</a>
                                            </td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="msg msg-error">

                            <p><strong>Não Existe Propostas em Analise Cadastradas!</strong></p>

                        </div>

                    }

                    <!-- End Box -->
                </div>
            </div>
        }
    </div>
</div><br /><br /><br />.

