@model Model.tb_usuario

@{Layout = "~/Views/Shared/_Layout.cshtml";}
<div class="small-nav">
    <div>
        <a href="#">
            @Html.ActionLink("Página Inicial", "Index", "Home")
            <span>&gt;</span>
            @Html.ActionLink("Lista de Usuários", "Index")
            <span>&gt;</span>
            Visualização
        </a>
    </div>
</div>
        <hr />
<div>
        <dl class="dl-horizontal">
            <dt>
                Nome:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nome)
            </dd>

            <dt>
                Senha:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.senha)
            </dd>

            <dt>
                E-mail:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.email)
            </dd>

            <dt>
                Ativo:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ativo)
            </dd>

            <dt>
                Perfil:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.perfil)
            </dd>

            <dt>
                Sobrenome:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sobrenome)
            </dd>

            <dt>
                Função:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tb_funcao.nome)
            </dd>

        </dl>
    </div>
    

